<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Name">Name</label>
                    <input placeholder="Name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Roll Number">Roll Number</label>
                    <input placeholder="Roll Number" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="College Name">College Name</label>
                    <input placeholder="College Name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Admission Number">Admission Number</label>
                    <input placeholder="Admission Number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Parent Name">Parent Name</label>
                    <input placeholder="Parent Name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="D.O.B">D.O.B</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address">Address</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Mobile Number">Mobile Number</label>
                    <input placeholder="Mobile Number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Parent Mob Number">Parent Mob Number</label>
                    <input placeholder="Parent Mob Number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Email ID">Email ID</label>
                    <input type="email" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Blood Group">Blood Group</label>
                    <select name="" id="" class="form-control">
                        <option value="O+">O+</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>